<h1>Comment#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>
<title><%= @title %> Post a comment</title>
<p><%= link_to "Back to List", comments_path %></p>




<table>
  <tr>
    <th> comment id #</th>
    <th> content </th>
  </tr>
  <%  for comment in @micropost.comments %>
   <tr>
      <td><%= comment.id %></td>
      <td><%= comment.body %></td>
      <td><%= link_to "Show", comment %></td>
      <td><%= link_to "Edit", edit_comment_path(comment) %></td>
      <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete  %></td>
   <% end %>
   </tr>
</table>
<p><%=  link_to "New comment", new_comment_path %></p>

