<%= form_for @micropost do |f| %>
  <p>
    <fieldset>
	<legend> What's your Tip? </legend>
    <%= f.text_field :content, :size => 90 %> <br/>

    <%= f.label :tag %>
    
    <%= f.label "Send this Tip:" %>
    <%= f.submit "to Guys" %>
    <%= f.submit "to Girls"%>
    </p>
    </fieldset>
<% end %>
