<%= form_for @micropost do |f| %>
  <p>
    <fieldset>
	<legend> What's your Tip? </legend>
    <%= f.text_field :content, :size => 90 %> <br/>

    <%= f.label :tag %>
    <%= f.select( :tag, [['#general', 1], ['#texting', 2], ['#dating', 3], ['#sex', 4], ['#beauty', 5]]) %>
    <%= f.label "Send this Tip:" %>
    <%= f.submit "to Guys" %>
    <%= f.submit "to Girls"%>
    </p>
    </fieldset>
<% end %>
