<meta property="og:url" content="http://www.helpmedateyou.com/<%= @micropost.id %>" />
<meta property="og:description" content="<%= @micropost.to_guys ? "one girl is saying: " : "one guy is saying: " %><%= @micropost.content %>" />
  <meta name="description" content="<%= @micropost.to_guys ? "one girl is saying: " : "one guy is saying: " %><%= @micropost.content %>" />

<div id="central_bar">
	<p><%= link_to "Go Back", root_path %></p>
</div>

<div id="container_bg">
	<div id="container2">
		<div id="container_top">
			<div class="article2">
				<ol>
					<li>
						<%= image_tag("#{@micropost.to_guys ? "girls" : "guys"}-bubble.png") %>
						<p><%= @micropost.content %></p>
					<li>
				</ol>
			</div>
		</div>
		<div id="container_main2" align="center">
				<div class="fb-comments" data-href='http://www.helpmedateyou.com/pages/<%= @micropost.id %>' data-num-posts="5" data-width="470"></div>
		</div>
	</div>
</div>
