<h1>Microposts#show</h1><Br/>
<p>
	<p><data:post.body/></p>
  <% unless @micropost.to_guys == false %>
  	<strong>Tips  #<%= @micropost.id %> for guys:</strong>
  <% else %>
	<strong>Tips  #<%= @micropost.id %> for girls:</strong>
  <% end%>
</p>
<p>
  <strong>content:</strong>
  <%= @micropost.content %>
</p>
<p>
  <strong>tag:</strong>
  <%= @micropost.tag %> 
</p>
<p>
  <strong>to_guys?:</strong>
  <%= @micropost.to_guys %>
</p>

<p>
  <%= link_to "Edit", edit_micropost_path(@micropost) %> |
  <%= link_to "Destroy", @micropost, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", microposts_path %>
</p>

<div class="fb-comments" data-href="http://www.helpmedateyou.com/pages/<%= @micropost.id %>" data-num-posts="4" data-width="470"></div>





