<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">	
<head>

<title>Help Me Date You | Learn from guys and girls tips or advice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>    
  <link rel="image_src" href="http://i.imgur.com/Mij1Q.png"/>
  <meta property="fb:app_id" content="109989265800865" />  
  <meta name="title" content="Guys and Girls tell you everything" />


<meta property="fb:admins" content="500208454" />
<meta property="og:title" content="HelpMeDateYou.com" />

<meta property="og:type" content="website" />
<meta property="og:image" content="http://i.imgur.com/Mij1Q.png" />
<meta property="og:site_name" content="HelpMeDateYou.com | Share avice anonymously with guys and girls" />
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=109989265800865";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<%= yield %>

	<div id="footer">
		<span id="terms">
			<p>
				    <%= link_to "Home", root_path %>
				     <!-- <%= link_to "About", root_path %>
				     				     <%= link_to "Terms", root_path %> -->
				    <%= link_to "Facebook", "http://www.facebook.com/helpmedateyou" %>
				    <%= link_to "Twitter", "http://www.twitter.com/helpmedateyou" %>
			</p>
		</span>
		<span id="credit">
		<p> ©2012 HelpMeDateYou - Toronto - <%= link_to( image_tag("SixNode.png", :class =>"footerlogo", :mouseover => 		"SixNode---Over.png"), "http://sixno.de" )%></p>
		</span>
	</div>

	<script type="text/javascript">
	  var uvOptions = {};
	  (function() {
	    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/m0xPxYv8Vh2EcQuU1oTl9g.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
	  })();
	</script>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '109989265800865', // App ID
	      channelUrl : '//www.helpmedateyou.com:3000/channel.html', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });


	    // Additional initialization code here
	  };

	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document));
	</script>


</body>
</html>